body {
  margin: 0;
  background-color: #f2f4fc;
  font-family: "Roboto", sans-serif;
}

/* Section 1 Navbar */

.navbar {
  width: 1100px;
  min-height: 70px;
  padding: 50px 24px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #6b708d;
}

.nav-link.nav-link1 {
  color: #072ac8;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 0px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.menu-button.nav-button {
  width: 150px;
  height: 50px;
  background-color: #002cf3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button.contact-us {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
}

.navbar-logo {
  width: 60.53px;
  height: 18.46px;
}

/* Section 2 Email Form */

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1100px;
  margin: auto;
  margin-top: 100px;
}
.formulario h1 {
  font-size: 30px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 48%;
}

.tel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 48%;
}

.email-tel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
  height: 60px;
  padding-left: 15px;
  font-size: 15px;
}

label {
  color: #6b708d;
  font-size: 20px;
}

.text {
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
  padding-left: 15px;
  font-size: 15px;
  padding-top: 20px;
  font-family: "Roboto";
}

.button {
  background-color: #072ac8;
  color: #f2f4fc;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  border: none;
}

/* Section 3 Footer */

.container-footer {
  width: 1100px;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.company-info {
  height: 112px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}

.footer-links {
  width: 435px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 100px;
}

.footer-link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.footer-logo img {
  width: 100px;
  height: 30px;
}

.footer-address {
  width: 260px;
  height: 52px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400px;
  line-height: 25px;
  color: #6b708d;
}

@media screen and (max-width: 550px) {
  /* Display None */

  .body {
    max-width: 550px;
    height: 100vh;
  }

  .menu-button.nav-button {
    display: none;
  }

  /* Section 1 - Navbar */

  .navbar {
    max-width: 300px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link.nav-link1 {
    color: #6b708d;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 120px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    transition: 0.7s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0px;
  }

  .nav-link:hover {
    color: red;
  }

  /* Section 2 - Form */

  .formulario {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    margin-top: 100px;
    max-width: 280px;
  }
  .formulario h1 {
    font-size: 30px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
  }

  .label {
    font-size: 18px;
  }

  .name {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .email {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tel {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .email-tel {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 282px;
  }

  input {
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
    height: 60px;
    padding-left: 15px;
    font-size: 15px;
    width: 270px;
  }

  .text {
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
    padding-left: 15px;
    font-size: 15px;
    padding-top: 20px;
  }

  .button {
    background-color: #072ac8;
    color: #f2f4fc;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    width: 280px;
  }

  /* Section 8 - Footer  */

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 420px;
    gap: 40px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .company-info {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .footer-address {
    text-align: center;
  }

  .footer-links {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }

  .footer-link {
    color: #002cf3;
  }
}
