/* Section 1 Header - Repeat */
/* Section 2 Footer - Project Document*/

body {
  margin: 0px;
  background-color: #f2f4fc;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

/*Section 1 Navbar */

.navbar {
  width: 1100px;
  min-height: 70px;
  padding: 50px 24px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #6b708d;
}

.nav-link.nav-link1 {
  color: #072ac8;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 0px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.menu-button.nav-button {
  width: 150px;
  height: 50px;
  background-color: #002cf3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button.contact-us {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
}

.navbar-logo {
  width: 60.53px;
  height: 18.46px;
}

/* Section 2 - Simplify Project */

.project-text.project-page {
  width: 1100px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.project-header-date {
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-header.project-page {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.project-title.project-page {
  color: #292e47;
  font-family: "Roboto";
  font-weight: 1000px;
  font-size: 60px;
  line-height: 70px;
}

.project-date.project-page {
  color: #d9d9d9;
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 20px;
  line-height: 30px;
  color: #292e47;
}

.simplify-img img {
  width: 1100px;
  height: 680px;
}

.simplify-description.project-page {
  width: 1100px;
  height: 220px;
  color: #6b7080;
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 20px;
  line-height: 30px;
  color: #292e47;
}

/* Section 3 Other Projects - Project Document */

.project-section4-container {
  width: 1100px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 40px;
  margin-top: 150px;
}

.project-section4-container h2 {
  font-size: 30px;
  font-weight: 500;
}

.project-container-cards {
  width: 1100px;
  height: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.project-cards {
  width: 340px;
  height: 480px;
  background-color: #ffffff;
}

.project-image img {
  width: 340px;
  height: 240px;
}

.project-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #292e47;
}

.project-description {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  color: #6b708d;
}

.project-link {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  color: #072ac8;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 30px;
  padding-left: 10px;
  height: 200px;
  gap: 50px;
}

.project-simplify-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.project-dashcoin-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.project-vectorify-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

/* Section 7 Call to Action - Subscribe */

.subscriptions-container {
  width: 1320px;
  height: 550px;
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.subscriptions-heading {
  width: 500px;
  height: 47px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700px;
  line-height: 46px;
  color: #292e47;
}

.subscription-subtitle {
  width: 500px;
  height: 30px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400px;
  line-height: 150%;
  color: #292e47;
  text-align: center;
}

.email-wrapper {
  width: 393px;
  height: 45px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding: 20px;
}

.email-icon {
  height: 32px;
  width: 32px;
  color: #292e47;
}

.email-text-field {
  border: none;
}

.suscribe-button {
  width: 198px;
  height: 80px;
  background-color: #072ac8;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 17px;
  line-height: 22px;
  border: none;
}

.email-subscrition-inputs {
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Section 8 Footer */

.container-footer {
  width: 1100px;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
}

.company-info {
  height: 112px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}

.footer-links {
  width: 435px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 100px;
}

.footer-link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.footer-logo img {
  width: 100px;
  height: 30px;
}

.footer-address {
  width: 260px;
  height: 52px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400px;
  line-height: 25px;
  color: #6b708d;
}

@media screen and (max-width: 550px) {
  /* Display None */

  .body {
    max-width: 550px;
    height: 100vh;
  }

  .container-nav-links {
    display: none;
  }

  .menu-button.nav-button {
    display: none;
  }

  /* Section 1 NavBar */

  .navbar {
    max-width: 300px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link.nav-link1 {
    color: #6b708d;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    transition: 0.7s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0px;
  }

  .nav-link:hover {
    color: red;
  }

  /* Section 2 - Simplify Project  */

  .project-text.project-page {
    max-width: 380px;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .project-header-date {
    margin-top: 40px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 30px;
  }

  .project-header.project-page {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .project-title.project-page {
    color: #292e47;
    font-weight: 1000px;
    font-size: 50px;
    line-height: 70px;
  }

  .project-date.project-page {
    color: #d9d9d9;
    font-weight: 800px;
    font-size: 17px;
    line-height: 30px;
    color: #292e47;
  }

  .simplify-img img {
    max-width: 360px;
    height: 360px;
    margin: auto;
  }

  .simplify-description.project-page {
    max-width: 360px;
    height: 1000px;
  }

  .simplify-description.project-page p {
    max-width: 360px;
    color: #6b7080;
    font-family: "Roboto";
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    color: #292e47;
    text-align: left;
  }

  /* Section 3 - Recent Projects  */

  .project-section4-container {
    max-width: 380px;
    min-height: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .project-section4-container h2 {
    text-align: center;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 1000;
  }

  .project-container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    margin-right: auto;
    min-height: 1500px;
  }

  .project-cards {
    background-color: #ffffff;
    min-height: 500px;
  }

  .project-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10px;
    height: 200px;
    gap: 50px;
  }

  /* Section 4 - Subscription  */
  .subscriptions-container {
    max-width: 420px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
  }

  .subscription-text-inputs {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subscriptions-heading {
    text-align: center;
    font-size: 28px;
  }

  .email-subscrition-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
  }

  .email-wrapper {
    width: 180px;
    height: 50px;
  }

  .suscribe-button {
    width: 220px;
    height: 80px;
  }

  /* Section 5 - Footer  */

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 420px;
    gap: 40px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .company-info {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .footer-address {
    text-align: center;
  }

  .footer-links {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }

  .footer-link {
    color: #002cf3;
  }
}
